apiVersion: apps/v1
kind: Deployment
metadata:
  name: angelpay
spec:
  replicas: 2
  template:
    spec:
      containers:
        - name: angelpay
          resources:
            requests:
              cpu: 200m
              memory: 256Mi
            limits:
              cpu: "1"
              memory: 1Gi
