apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: angelpay
  namespace: argocd
spec:
  generators:
    - list:
        elements:
          - env: dev
            namespace: angelpay-dev
          - env: prod
            namespace: angelpay-prod
  template:
    metadata:
      name: angelpay-{{env}}
      namespace: argocd
      finalizers:
        - resources-finalizer.argocd.argoproj.io
    spec:
      project: default
      source:
        repoURL: https://github.com/zhima-001/angelpay-env.git
        targetRevision: main
        path: overlays/{{env}}
      destination:
        server: https://kubernetes.default.svc
        namespace: '{{namespace}}'
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
          - PruneLast=true
        retry:
          limit: 3
          backoff:
            duration: 5s
            factor: 2
            maxDuration: 3m
