apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  - configmap.yaml
  - configmap-dbconfig.yaml
  # secret.yaml 不纳入 GitOps（密钥不落地），通过 kubectl create secret 管理
  - hpa.yaml
  - networkpolicy.yaml

commonLabels:
  app.kubernetes.io/name: angelpay
  app.kubernetes.io/managed-by: kustomize
